<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arkatex Web</title>
    <!-- Tambahkan Google Fonts (Poppins) -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- Link ke file CSS eksternal -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Arkatex Proforma</h1>
    </header>
    <br>
    <main>
        <section class="intro">
            <p>Manage item records and invoice efficiently using the Proforma Cart functionality provided below.</p>
            <div>
                <br><br><br>
                <a href="/proforma" class="btn">View Proforma</a>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Arkatex App. Created By Peter Raymond Hon.</p>
    </footer>
</body>
</html>
